
body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
}

#timer {
    font-size: 40px;
    margin-top: 20px;
}
